* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {  
  --primary: #72B5A4;
  --black: #111111;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --grayDark: #a08e8e;
  --white: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}